# Secretos y Tokens — NUNCA subir al repo
*.key
*.token
.env
secrets.env
config/systemd/key_data
.config/bin/.key_data

# Seguridad y Credenciales
*.ovpn
.ssh/id_*
auth.log
*.pcap
*.cap

# Sincronización y Notas (ya van por Syncthing)
Notas_Hacking/
.obsidian/
workspace.json
*.sync-conflict-*

# Temporales de Sistema
.DS_Store
*.tmp
*.log
lazy-lock.json

# Backups locales
hosts_backup
